<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<form th:method="POST" th:action="@{save}" th:object="${company}">
    <table>

        <tr>
            <th>companyName</th>
            <th>locatedCountry</th>
        </tr>
        <tr>
            <td><label for="companyName"></label>
                <input type="text" th:field="*{companyName}" id="companyName"/>
            </td>
            <td><label for="locationCountry"></label>
                <input type="text" th:field="*{locatedCountry}" id="locationCountry"/>
            </td>

        </tr>

    </table>
    <input type="submit" value="Create">
</form>

</body>
</html>