<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 2px solid black;
        }
    </style>
</head>
<body>

<table>
    <tr>
        <th>Id</th>
        <th>CourseName</th>
        <th>Duration</th>
        <th>Groups</th>
        <th>Teachers</th>
        <th></th>
        <th></th>
    </tr>
    <tbody th:each="courses: ${course}">
    <tr>
        <td><p th:text="${courses.getId()}"></p></td>
        <td><p th:text="${courses.getCourseName()}"></p></td>
        <td><p th:text="${courses.getDuration()}"></p></td>

        <td><a href="/groups">Groups</a></td>
        <td>
            <a th:href="@{/teachers(courseId=${courses.id})}">Teachers</a>
        </td>
        <td>
            <a th:href="@{/courses/{id}/edit(id=${courses.getId()})}">
                <input type="submit" value="Update"></a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/courses/{id}(id =${courses.getId()})}">
                <input type="submit" value="Delete"/></form>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<a th:href="@{/courses/newCourse(companyId=${param.companyId})}">Create new Course</a>
<hr>
<a href="/">Main</a>

</body>
</html>