<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
edit

<form th:method="PATCH" th:action="@{/api/{id}(id=${course.getId()})}" th:object="${course}">
    <label for="courseName">Enter CourseName</label>
    <input type="text" th:field="*{courseName}" id="courseName"/>
    <br>
    <label for="locatedCountry">Enter Duration</label>
    <input type="text" th:field="*{duration}" id="locatedCountry"/>
    <br>
<!--    <label for="companyName">Enter Company</label>-->
<!--    <input type="text" th:field="*{company.setId(getId())}" id="companyName"/>-->
    <br>

    <input type="submit" value="Update!!"/>
</form>

</body>
</html>