<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/groups/{id}(id=${groups.getId()})}" th:object="${groups}">
    <label for="courseName">Enter GroupName</label>
    <input type="text" th:field="*{groupName}" id="courseName"/>
    <br>
    <label for="dateOfStart">Enter DateOfStart</label>
    <input type="text" th:field="*{dateOfStart}" id="dateOfStart"/>
    <br>
    <label for="dateOfFinish">Enter dateOfFinish</label>
    <input type="text" th:field="*{dateOfFinish}" id="dateOfFinish"/>
    <br>

    <input type="submit" value="Update!!"/>
</form>

</body>
</html>